spring:
  config:
    activate:
      on-profile: default
  sql:
    init:
      platform: h2
  web:
    resources:
      static-locations: file:./app/
  cds:
    security:
      mock:
        users:
          admin:
            password: admin
            roles:
              - admin
    authentication:
      auth-config:
        enabled: true
  data-source:
    auto-config:
      enabled: false
  management:
    endpoint:
      health:
        show-components: always
    probes:
      enabled: true
    endpoints:
      web:
        exposure:
          include: health
    health:
      defaults:
        enabled: false
      ping:
        enabled: true
      db:
        enabled: true
